body
{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

/* header */
header
{
    padding: 32px 28px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

header h1
{
    font-size: 20px;
    font-weight: bold;
    color: var(--black-50);
    padding-bottom: 10px;
    border-bottom: 1px var(--black-10) solid;
}

header h1:hover
{
    color: var(--black);
}

header h2
{
    font-size: 25px;
    font-weight: bold;
    color: var(--black)
}

@media (max-width: 700px)
{
    header
    {
        padding: 16px 14px;
    }
    header h2
    {
        font-size: 20px;
    }    
}

header p
{
    color: var(--black-50);
    font-size: 16px;
}

/* main */
main
{
    padding: 32px 28px;
    background-color: var(--white-3);
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: calc(100dvh - 129px);
    width:  1024px;
    margin: 0 auto;
}

@media (max-width: 1024px)
{
    main
    {
        width: 100%;
    }
}

@media (max-width: 700px)
{
    main
    {
        padding: 16px 14px;
        gap: 16px;
    }
}

main form
{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
    color: var(--black);
    font-weight: 600;
    border: 2px var(--white-2) solid;
    position: sticky;
    top: 0;
    z-index: 10;
}

@media (max-width: 700px)
{
    main form
    {
        padding: 5px;
        border: none;
        background-color: transparent;
    }
}

main form label
{
    width: fit-content;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
}

main form input
{
    width: 100%;
    padding: 10px;
    border: none;
    background-color: var(--white);
    color: var(--black);
    font-weight: 600;
    border-radius: 5px;
    font-size: 14px;
    border: 2px var(--white-2) solid;
    outline: none;
}

main form button
{
    padding: 10px;
    border: none;
    background-color: var(--red);
    color: var(--white);
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

main ul
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    width: 100%;
}

main ul li
{
    padding: 10px;
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black);
    font-weight: 600;
    font-size: 14px;
    gap: 2px;
}

li .body
{
    display: flex;
    align-items: center;
    gap: 10px;
}

li input
{
    min-width: 20px;
    min-height: 20px;
    accent-color: var(--red);
    cursor: pointer;
}

@media (max-width: 480px)
{
    li input
    {
        min-width: 15px;
        min-height: 15px;
    }

    li .body p
    {
        font-size: 12px;
    }
}

li span
{
    cursor: pointer;
    color: var(--black-50);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 480px){
    li span
    {
        font-size: 16px!important;
    }
}

li span:hover
{
    color: var(--red);
}

li .sittings
{
    display: flex;
    align-items: center;
    gap: 15px;
}